/.vs
bin/
obj/
/GayDetectorBot/appconfig.json
/GayDetectorBot.Telegram/appconfig.dev.json
/GayDetectorBot.Telegram/appconfig.prod.json
/GayDetectorBot.Telegram/GayDetectorBot.Telegram.csproj.user
/GayDetectorBot.WebApi/appsettings.Development.json
/GayDetectorBot.WebApi/appsettings.Production.json
/GayDetectorBot.WebApi/TgData.db
/GayDetectorBot.WebApi/TgData.db-shm
/GayDetectorBot.WebApi/TgData.db-wal
/GayDetectorBot.WebApi/logs
/GayDetectorBot.WebApi/SeedData
/GayDetectorBot.WebApi/downloads
/data
