services:
  db:
    image: postgres
    volumes:
      - ./db:/var/lib/postgresql
    env_file: .env
    healthcheck:
      test: ["CMD-SHELL", "pg_isready -U postgres"]
      interval: 5s
      timeout: 5s
      retries: 5
    networks:
      - aspnetcoreapp-network

  gaydetectorbot.webapi:
    restart: always
    build:
      context: .
      dockerfile: GayDetectorBot.WebApi/Dockerfile
    networks:
      - aspnetcoreapp-network
    depends_on:
      db:
        condition: service_healthy
    links:
     - db:db
networks:
  aspnetcoreapp-network:
    driver: bridge